{
  "env": {
    "browser": true,
    "nodejs": true,
    "es2021": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off"
  }
}
