{
  "trailingComma": "es5",
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 140,
  "bracketSpacing": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer",
        "singleQuote": false
      }
    }
  ]
}