<!DOCTYPE html>
<html lang="en">
  {{> header title="Order Page"}}
  <body>
    {{> nav}}
    <div class="container">
      <div id="order">
        <h3 class="display-6" style="margin-top: 10px;">Order #\{{ orderId }}</h3>
        <div class="container text-center">
          <div class="row row-cols-3">
            <div v-for="item in menuItems" :key="item" class="col card">
              <div class="img_wrapper">
                <img
                  :src="getImageUrl(item)"
                  class="card-img-top"
                  :alt="getMenuTitle(item) + ' photo'"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">\{{ getMenuTitle(item) }}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="text-end mt-4">
          <h6 class="total">Total amount: \{{ totalAmount }} RUB</h6>
          <button class="btn btn-danger" @click="deleteOrder">Delete Order</button>
        </div>
      </div>
    </div>
    {{> scripts}}
  </body>
</html>
