.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-info {
  background-color: #dedae2;
  width: 100vw;
}

.discription-my {
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}

.style-text {
  font-size: 36px;
}

.fixed {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

body {
  overflow: hidden;
}
