<!DOCTYPE html>
<html lang="en">
  {{> header title="Main Page"}}
  <body>
    {{> nav}}
    <div class="container">
      <div id="main">
        <form @submit.prevent="handleFormSubmit">
          <div class="mb-3">
            <label for="input_user_id" class="form-label" style="margin-top: 10px;">Please enter the employee ID (waiter):</label>
            <div class="input-group">
              <input type="text" class="form-control" id="input_user_id" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
            </div>
            <div v-if="isError" class="form-text text-danger">This should be a valid integer greater than 1</div>
          </div>
        </form>
        <div class="order-cards">
          <div class="row row-cols-3">
            <div v-for="order in orders" :key="order.id" class="col card">
              <div class="card-header">
                <a :href="'/orders/' + order.id">Order #\{{ order.id }}</a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Order Contents:</h5>
                <ul class="list-group">
                  <li class="list-group-item">
                    \{{ order.items.map(item => {
                      switch(item) {
                        case 1: item = "Lasagna";
                        break;
                        case 2: item = "Salmon Sushi";
                        break;
                        case 3: item = "Chicken Caesar Salad";
                        break;
                        case 4: item = "Margherita Pizza";
                        break;
                        case 5: item = "Carbonara Pasta";
                        break;
                        case 6: item = "Mushroom Risotto";
                        break;
                      }
                      return item;
                    }).join(', ') }}
                  </li>
                </ul>
                <div>Total dishes: \{{ order.items.length }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}
  </body>
</html>